
.Input-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-left:1.5vh;
    margin-right:1.5vh;
    width: 358px;
    height: 40px;
    background-color: #F9FAFB;
  }
  .search-icon-item{
    margin-left: 20px;
  }
  .search-input{
    outline: none;
    border: none;
  }
 .search-input {
    flex: 1; 
    border: none;
    padding: 10px;
    width: 358px;
    font-size: 14px;
    color: #98A2B3;
    background-color: #F9FAFB;
  }
  .search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
 