
.image1 {
    width: 358px;
    border-radius: 20px;
    height: 200px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .div5,
  .image1,
  .star-icon1 {
    position: relative;
    overflow: hidden;
  }
  .div5 {
    flex: 1;
    line-height: 24px;
    font-weight: 600;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #344054;
  }
  .star-icon1 {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
  .star-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div6 {
    position: relative;
    line-height: 20px;
  }
  .frame-div,
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-div {
    gap: var(--gap-11xs);
    font-size: var(--text-sm-semibold-size);
  }
  .group {
    width: 357px;
    gap: var(--gap-8xs);
  }
  .div7 {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
  }
  .frame-container,
  .image-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-group {
    top: 447px;
    left: 16px;
    text-align: left;
    margin-top: 15px;

  }
  