
.text1 {
    position: relative;
    line-height: 20px;
    font-weight: 300;
    font-size: 16px;
    
  }
  .tab-button-base {
    background-color: gray;
    color: var(--gray-700);
    width: 40px;
  }
  .tab-button-base,
  .tab-button-base1 {
    border-radius: var(--br-7xs);

    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-xs);
  }
  .text9 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
  }
  .badge,
  .tab-button-base7 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .badge {
    border-radius: var(--br-base);
    background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
    justify-content: flex-start;
    padding: var(--padding-11xs) var(--padding-5xs);
    mix-blend-mode: multiply;
    text-align: center;
    font-size: var(--text-xs-medium-size);
    color: var(--gray-700);
  }
  .tab-button-base7 {
    border-radius: var(--br-7xs);
    overflow: hidden;
    justify-content: center;
    padding: var(--padding-6xs) var(--padding-xs);
    gap: var(--gap-5xs);
  }
  .arrow-right-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button,
  .typebutton-gray-sizesm-ful {
    flex-direction: row;
    align-items: center;
  }
  .button {
    border-radius: var(--br-5xs);
    overflow: hidden;
    display: none;
    justify-content: center;
    padding: var(--padding-5xs);
  }
  .tab-button {
    width: 390px;
    height: 36px;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    text-align: left;
    font-size: var(--text-sm-semibold-size);
    color: var(--gray-500);
    font-family: var(--text-xs-medium);
  }
  