.header{
  z-index: 1;
  position: fixed;
  top: 0;
  left: calc(50% - 195px);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  background-color: var(--base-white);
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--default-systemblue-light);
  font-family: var(--font-sf-pro-display);
}
.container{
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 390px;
}