
.notch-icon {
    position: absolute;
    top: -2px;
    left: calc(50% - 82px);
    width: 164px;
    height: 32px;
  }
  .div,
  .statusbar-time {
    position: absolute;
    width: 54px;
  }
  .div {
    top: 1px;
    left: 0;
    letter-spacing: -0.41px;
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    height: 20px;
  }
  .statusbar-time {
    top: 0;
    left: calc(50% - 27px);
    border-radius: var(--br-5xl);
    height: 21px;
  }
  .battery-icon,
  .left-side {
    position: absolute;
    top: 14px;
    left: calc(50% - 168px);
    width: 54px;
    height: 21px;
  }
  .battery-icon {
    top: 0;
    left: calc(50% + 11.3px);
    width: 27.4px;
    height: 13px;
  }
  .wifi-icon {
    position: relative;
    width: 17px;
    margin-bottom: 10px;
    margin-right: 7px;
    height: 12px;
  }
  .icon-mobile-signal,
  .right-side {
    position: absolute;
    top: 1px;
    left: calc(50% - 38.7px);
    width: 18px;
    height: 12px;
  }
  .right-side {
    top: 19px;
    left: calc(50% + 91px);
    width: 77.4px;
    height: 13px;
  }
  .dark-modefalse-typedefault {
    width: 390px;
    max-width: 100%;
    height: 47px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--default-bold-body-size);
    color: var(--color-gray-100);
    font-family: var(--default-bold-body);
  }
  