body {
  font-family: 'Roboto', sans-serif;
}
.sf-symbol-scribblevariable {
    width: 25px;
    position: relative;
    height: 23px;
    display: none;
    z-index: 0;
  }
  .home-line-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .sf-symbol {
    width: 40px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 26px);
    left: calc(50% - 20px);
    font-weight: 500;
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    flex-shrink: 0;
    z-index: 2;
  }
  .label1 {
    position: relative;
    font-size: var(--font-size-3xs);
    letter-spacing: -0.24px;
    font-weight: 500;
    font-family: var(--default-bold-body);
    color: var(--gray-500);
    z-index: 3;
  }

  .tabbar-item {
    flex: 1;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs) var(--padding-5xl);
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-11xs);
  }
  .label2 {
    position: relative;
    font-size: var(--font-size-3xs);
    letter-spacing: -0.24px;
    font-weight: 500;
    font-family: var(--default-bold-body);
    color: var(--orange-dark-500);
    z-index: 3;
  }
  .tabs {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color:white;
  }
  .tabbar {
    position: fixed;
    bottom: 0;
    left: calc(50% - 195px);
    box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    background-color: var(--base-white);
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--default-systemblue-light);
    font-family: var(--font-sf-pro-display);
  }
  